/*records*/
main{
    .titulo-inicio{ text-align: center;
        font-family: $font-titles;
        h1{
            color: nth($list: $colors, $n:2 );
            font-size: $size-h1;
        }
    }
    .container-records{
        @include flex(column,none,center,wrap);
        gap: 10px;
        .card{
            background-color: nth($list: $colors, $n:1 );
            padding: 0, 15px, 15px, 15px;
            border-radius: 8px;
            @include flex(column,none,center,nowrap);
            overflow: hidden;
            cursor: default;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
            transition: all 400ms ease;
            &:hover{
                box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
            }
            .img-card{
                width: 100%;
                border-radius: 7px;
            }
            .players{
                font-family: $font-titles;
                color: nth($list: $colors, $n:2 );
            }
            .players_name{
                text-align: center;
                padding: 0 10px 0 10px;
                color: nth($list: $colors, $n:2 );
            }
            p{
                color: nth($list: $colors, $n:2 );
            }
        }
    }
}